* {
  margin: 0px;
  padding: 0px;
}
.whole_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(230, 239, 255);
  border-radius: 15px;
}
.guide {
  height: 690px;
  width: 200px;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid rgb(217, 217, 255);
}
.guide {
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
}
.guide img {
  background-color: white;
  margin-top: 5px;
  padding: 20px 40px;
  border-radius: 20px;
}
.one {
  padding: 20px 60px;
  border-radius: 20px;
  border: 5px;
  color: rgb(24, 72, 194);
  background-color: rgb(224, 233, 255);
  border: 1px solid rgb(171, 171, 220);
}
.two {
  padding: 20px 69px;
  border-radius: 20px;
  border: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(171, 171, 220);
}
.three {
  padding: 20px 60px;
  border-radius: 20px;
  border: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(171, 171, 220);
}
.four {
  padding: 20px 53px;
  border-radius: 20px;
  border: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(171, 171, 220);
}
.guide div {
  border-style: none;
}
.page {
  margin-left: 20px;
  width: 1330px;
}
.title {
  margin: 5px;
  padding: 20px 0px 20px 50px;
  content: 20px 100px;
  background-color: white;
  border-radius: 20px;
  font-size: larger;
}
.main1 {
  display: flex;
  gap: 20px;
  margin-left: 3px;
  height: 600px;
  width: 1250px;
  border-radius: 10px;
}
.container {
  margin: 3px;
  padding-left: 0px;
  padding-top: 3px;
  width: 615px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
}
.image {
  padding-left: 3px;
  padding-top: 3px;
  width: 1246px;
  display: flex;
  border-radius: 20px;
  position: relative;
  transition: transform 1s ease-in-out;
}

.main2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 630px;
  border-radius: 10px;
  gap: 3px;
}
.main3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 600px;
  border-radius: 10px;
  background-color: white;
}
.select {
  margin: 3px 3px;
  padding: 10px 20px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  align-content: center;
}
.selector {
  margin-left: 20px;
  padding: 5px 340px 5px 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}
.situation {
  flex: 2;
  margin-left: 3px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 10px;
  border-color: rgb(192, 192, 192);
}
.situa {
  margin-left: 17px;
  padding: 5px 50px 5px 10px;
  background-color: white;
  border-radius: 10px;
  border-color: rgb(192, 192, 192);
  text-align: left;
}
.stu_infor {
  display: flex;
  padding: 10px 10px;
  font-size: 20px;
  color: rgb(98, 98, 98);
}
.situat {
  margin-left: 50px;
  color: rgb(74, 223, 44);
}
.department {
  flex: 2;
  margin: 3px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
}
.depart {
  margin-left: 20px;
  padding: 5px 50px 5px 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}
.search {
  display: flex;
  align-items: center;
}
.whole_search {
  margin: 0px 3px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}
.reset {
  flex: 1;
  margin-right: 15px;
}
.re {
  padding: 5px 15px;
  color: rgb(255, 255, 255);
  background-color: #5d5dc9;
  border-radius: 7px;
  border-color: #7474ef;
}
.re:hover {
  background-color: #8484ff;
}
.re:active {
  background-color: #5656f9;
}
.stu_name {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}
.stu_depart {
  margin-right: 40px;
}
.student-item {
  background-color: white;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin: 3px 3px;
  overflow: auto;
}
.student-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  margin-left: 20px;
  font-size: 25px;
}
.usersitua {
  color: rgb(65, 200, 65);
}
.usercontent {
  margin-left: 20px;
  display: flex;
  gap: 30px;
  font-size: larger;
  color: rgb(93, 94, 94);
}
.detail {
  display: flex;
  flex-direction: column;
  height: 600px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  gap: 10px;
}
.detail_information {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.face_detail {
  background: none;
  border: none;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-bottom: ;
}
.information {
  margin: 10px 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  gap: 5px;
}
.stu {
  margin-left: 10px;
}
.entername {
  display: flex;
  gap: 20px;
  align-items: center;
}
.test {
  margin-top: 10px;
}
.stuname {
  position: relative;
  right: -80px;
  padding: 8px 250px 8px 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}
.enterpass {
  display: flex;
  align-items: center;
}
#base1 {
  font-size: 20px;
}
#base2 {
  font-size: 20px;
}
.video {
  margin-left: 10px;
}
.stupass {
  position: relative;
  right: -70px;
  padding: 8px 350px 8px 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
}
.test {
  margin-left: 10px;
  padding: 5px 10px;
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
}

@media (max-width: 1270px) {
  .whole_page {
    display: flex;
    flex-direction: column;
    width: 1258px;
    height: 770px;
    border-radius: 5px;
  }
  .guide {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 1220px;
    height: 80px;
    gap: 50px;
  }
  .guide img {
    padding: 10px 40px;
  }
  .main2 {
    height: 600px;
  }
  .main1 {
    gap: 2px;
  }
  .page {
    margin-left: 0px;
    width: 1255px;
  }
}

@media (max-width: 650px) {
  .guide {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 80px;
    gap: 10px;
  }
  .main1 {
    gap: 2px;
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .main2 {
    width: 621px;
  }
  .main3 {
    width: 621px;
  }
  .whole_page {
    width: 630px;
    height: 1320px;
  }
  .page {
    margin-left: 0px;
    width: 628px;
  }
  .guide img {
    padding: 10px 10px;
  }
  .one {
    padding: 10px 18px;
  }
  .two {
    padding: 8px 18px;
  }
  .three {
    padding: 20px 18px;
  }
  .four {
    padding: 20px 18px;
  }
}
